body {
  background-color: black;
  height: 100%;
  font-family: "courier new", sans-serif;
  padding: 50px;
}

h1 {
  font-size: 3 em;
  color: whitesmoke;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
